@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomniałeś hasła?";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>
<h2 class="text-center mb-4">Podaj swój adres e-mail.</h2>
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Zresetuj hasło</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    button.btn-primary {
        background-color: #F5AA1C;
        border-color: #F5AA1C;
        color: white;
    }

        button.btn-primary:hover {
            background-color: #e59b19;
            border-color: #e59b19;
        }

    a {
        color: #404040;
        text-decoration: none;
    }

        a:hover {
            color: #F5AA1C;
            text-decoration: underline;
        }
</style>
