@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}
<style>



    #login-submit {
        background-color: #F5AA1C;
        border-color: #F5AA1C;
        color: #fff;
    }

        #login-submit:hover {
            background-color: #e59b19;
            border-color: #e59b19;
        }


    a {
        color: #404040;
        text-decoration: none;
    }

        a:hover {
            color: #F5AA1C;
            text-decoration: underline;
        }

</style>

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
        <section>
            <form id="account" method="post">
                <h2 class="text-center">Zaloguj się na swoje konto</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nazwa@przyklad.com" />
                    <label asp-for="Input.Email" class="form-label">Adres e-mail</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="hasło" type="password" />
                    <label asp-for="Input.Password" class="form-label">Hasło</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Zaloguj się</button>
                </div>

                <div class="text-center mt-3">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Nie pamiętasz hasła?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj nowe konto</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
