@model IEnumerable<Firma.Data.Data.Sklep.Towar>
<div class="col-md-12 index-section ">
    <div class="row g-3">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                    <img src="@item.FotoUrl" alt="Produkt 1" class="card-img-top p-3">
                    <h6>@item.Nazwa</h6>
                    <p><strong>Cena:</strong> @item.Cena zł</p>
                    <a href="#" class="btn btn-outline-primary w-100">Zamów</a>
                    <a asp-controller="Home" asp-action="Szczegoly" asp-route-id_towaru="@item.idTowar" class="btn w-100 mt-2">Szczegóły</a>
                </div>
            </div>
        }
    </div>
</div>