<main class="container-fluid p-0">

    <section class="container mb-5">
        <h2 class="fw-bold  mb-4">Aktualne Promocje</h2>
        <div class="row g-3">
            <div class="col-sm-12 col-lg-3  index-section">
                <div class="card h-100 shadow-sm border-0 bg-light d-flex flex-column justify-content-between">
                    <img src="/images/products/monitor.png" alt="" class="card-img-top p-3">
                    <div class="card-body text-center">
                        <h5>Laptop Gamingowy MSI</h5>
                        <p><strong>Aktualna Cena:</strong> 3 299 zł</p>
                        <p id="stara_cena"><s>Stara Cena: 4 299 zł</s></p>
                       
                        <a href="#" class="btn  w-100">Kup teraz</a>
                        <div class="hit">
                            <h3>
                                  Nastepny Hit 
                                <h3>1:50:25</h3>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

       
            <div class="col-sm-12 col-lg-9  index-section">
                <div class="row g-3">
                
                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/monitor.png" alt="" class="card-img-top p-3">
                            <h6>Produkt 1</h6>
                            <p><strong>Cena:</strong> 3 499 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>

         
                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/myszka.png" alt="" class="card-img-top p-3">
                            <h6>Produkt 2 </h6>
                            <p><strong>Cena:</strong> 1 299 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/telefon2.png" alt="" class="card-img-top p-3">
                            <h6>Produkt 3</h6>
                            <p><strong>Cena:</strong> 349 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>

      
                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/telfon.png" alt="" class="card-img-top p-3">
                            <h6>Produkt 4</h6>
                            <p><strong>Cena:</strong> 799 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/UTP_kabel.png" alt="" class="card-img-top p-3">
                            <h6>Produkt 5</h6>
                            <p><strong>Cena:</strong> 799 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/myszka.png" alt="" class="card-img-top p-3">
                            <h6>Produkt 6</h6>
                            <p><strong>Cena:</strong> 799 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="container mb-5">
        <h2 class="fw-bold  mb-4">Ostatnio Oglądane</h2>
        <div class="row g-3 text-center index-section ">
            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/monitor.png" alt="Produkt 1" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt </h6>
                        <p><strong>Cena:</strong> 1 299 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/myszka.png" alt="Produkt 2" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt </h6>
                        <p><strong>Cena:</strong> 3 499 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/telefon2.png" alt="Produkt 3" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 4 299 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/telfon.png" alt="Produkt 4" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 1 199 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/telefon2.png" alt="Produkt 5" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 349 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/UTP_kabel.png" alt="Produkt 6" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 299 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container mb-5">
        <h2 class="fw-bold  mb-4">Polecane dla Ciebie</h2>
        <div class="row g-3  ">

            <div class="col-md-12 index-section ">
                <div class="row g-3">
 
                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/myszka.png" alt="" class="card-img-top p-3">
                            <h6>Produkt</h6>
                            <p><strong>Cena:</strong> 3 499 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>

       
                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/telefon2.png" alt="" class="card-img-top p-3">
                            <h6>Produkt</h6>
                            <p><strong>Cena:</strong> 1 299 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>

   
                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/telfon.png" alt="" class="card-img-top p-3">
                            <h6>Produkt</h6>
                            <p><strong>Cena:</strong> 349 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>

     
                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/UTP_kabel.png" alt="" class="card-img-top p-3">
                            <h6>Produkt</h6>
                            <p><strong>Cena:</strong> 799 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/myszka.png" alt="" class="card-img-top p-3">
                            <h6>Produkt</h6>
                            <p><strong>Cena:</strong> 799 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow-sm border-0 bg-light h-100 text-center p-2">
                            <img src="/images/products/monitor.png" alt="" class="card-img-top p-3">
                            <h6>Produkt</h6>
                            <p><strong>Cena:</strong> 799 zł</p>
                            <a href="#" class="btn btn-outline-primary w-100">Dodaj do koszyka</a>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </section>
    <section class="container mb-5">
        <h2 class="fw-bold  mb-4">Popularne</h2>
        <div class="row g-3 text-center index-section">
            <div class="col-md-2  ">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/myszka.png" alt="Produkt 1" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 1 299 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/monitor.png" alt="Produkt 2" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 3 499 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/telefon2.png" alt="Produkt 3" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 4 299 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/telfon.png" alt="Produkt 4" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 1 199 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/UTP_kabel.png" alt="Produkt 5" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 349 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/telefon2.png" alt="Produkt 6" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 299 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  

</main>