@model Firma.Data.Data.CMS.Strona
<main class="container-fluid p-0">
   
    @await Html.PartialAsync("AktualnePromocje", (IEnumerable<Firma.Data.Data.CMS.Aktualnosc>)ViewBag.Aktualnosci)

    @* <section class="container mb-5"> *@
    @*     <h2 class="fw-bold  mb-4">Aktualne Promocje</h2> *@
    @*     <div class="row g-3"> *@
    @*         @await Html.PartialAsync("BigPromocja", (Firma.Data.Data.Sklep.ProduktPromocja)ViewBag.ModelBigPromocji) *@
    @*         <div class="col-sm-12 col-lg-9  index-section"> *@
    @*             <div class="row g-3"> *@
    @*                 @await Html.PartialAsync("Promocje", (IEnumerable<Firma.Data.Data.Sklep.ProduktPromocja>)ViewBag.ModelPromocji) *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </section> *@

    @await Html.PartialAsync("PopularneTitle", (IEnumerable<Firma.Data.Data.CMS.Aktualnosc>)ViewBag.Aktualnosci)
    @* <section class="container mb-5"> *@
    @*     <h2 class="fw-bold  mb-4">Popularne</h2> *@
    @*     @await Html.PartialAsync("Popularne", (IEnumerable<Firma.Data.Data.Sklep.Towar>)ViewBag.ModelPopularne) *@
    @* </section> *@
    @await Html.PartialAsync("DlaCiebieTitle", (IEnumerable<Firma.Data.Data.CMS.Aktualnosc>)ViewBag.Aktualnosci)
    @* <section class="container mb-5"> *@
    @*     <h2 class="fw-bold  mb-4">Polecane dla Ciebie</h2> *@
    @*     <div class="row g-3  "> *@
    @*         @await Html.PartialAsync("DlaCiebie", (IEnumerable<Firma.Data.Data.Sklep.Towar>)ViewBag.ModelDlaCiebie) *@
            
    @*     </div> *@
    @* </section>  *@
    <!-- 
    <section class="container mb-5">
        <h2 class="fw-bold  mb-4">Popularne </h2>
        <div class="row g-3 text-center index-section">
            <div class="col-md-2  ">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/myszka.png" alt="Produkt 1" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 1 299 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/monitor.png" alt="Produkt 2" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 3 499 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/telefon2.png" alt="Produkt 3" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 4 299 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/telfon.png" alt="Produkt 4" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 1 199 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/UTP_kabel.png" alt="Produkt 5" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 349 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card h-100 shadow-sm border-0">
                    <img src="/images/products/telefon2.png" alt="Produkt 6" class="card-img-top p-3">
                    <div class="card-body">
                        <h6>Produkt</h6>
                        <p><strong>Cena:</strong> 299 zł</p>
                        <a href="#" class="btn btn-outline-secondary w-100">Szczegóły</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->

</main>