<main class="container-fluid p-0">
  
    <section class="container mb-5">
        <div class="row g-3">
            <div class="col-md-3">
                <div class="h-100 bg-light d-flex align-items-center justify-content-center text-center shadow-sm p-3">
                    <h5>Duża Kolumna</h5>
                    <p>Ta kolumna zajmuje dwa wiersze.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-light d-flex align-items-center justify-content-center text-center shadow-sm p-3 h-100">
                    <h5>Kolumna 2</h5>
                    <p>Treść kolumny.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-light d-flex align-items-center justify-content-center text-center shadow-sm p-3 h-100">
                    <h5>Kolumna 3</h5>
                    <p>Treść kolumny.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-light d-flex align-items-center justify-content-center text-center shadow-sm p-3 h-100">
                    <h5>Kolumna 4</h5>
                    <p>Treść kolumny.</p>
                </div>
            </div>
            <div class="col-md-3 offset-md-3">
                <div class="bg-light d-flex align-items-center justify-content-center text-center shadow-sm p-3 h-100">
                    <h5>Kolumna 5</h5>
                    <p>Treść kolumny.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-light d-flex align-items-center justify-content-center text-center shadow-sm p-3 h-100">
                    <h5>Kolumna 6</h5>
                    <p>Treść kolumny.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container mb-5">
        <div class="row g-3 text-center">
            <div class="col-md-2">
                <div class="bg-light d-flex align-items-center justify-content-center shadow-sm p-3 h-100">
                    Kolumna 1
                </div>
            </div>
            <div class="col-md-2">
                <div class="bg-light d-flex align-items-center justify-content-center shadow-sm p-3 h-100">
                    Kolumna 2
                </div>
            </div>
            <div class="col-md-2">
                <div class="bg-light d-flex align-items-center justify-content-center shadow-sm p-3 h-100">
                    Kolumna 3
                </div>
            </div>
            <div class="col-md-2">
                <div class="bg-light d-flex align-items-center justify-content-center shadow-sm p-3 h-100">
                    Kolumna 4
                </div>
            </div>
            <div class="col-md-2">
                <div class="bg-light d-flex align-items-center justify-content-center shadow-sm p-3 h-100">
                    Kolumna 5
                </div>
            </div>
            <div class="col-md-2">
                <div class="bg-light d-flex align-items-center justify-content-center shadow-sm p-3 h-100">
                    Kolumna 6
                </div>
            </div>
        </div>
    </section>

</main>

