
@{
    ViewData["Title"] = "Konto";
}

<div class="container py-4">
    <h1 class="fw-bold mb-4">Moje konto</h1>

    @await Html.PartialAsync("DaneUser", (Firma.Data.Data.Sklep.Uzytkownik)ViewBag.User)

    @await Html.PartialAsync("ZamowieniaUser", (IEnumerable<Firma.Data.Data.Sklep.Zamowienie>)ViewBag.ZamowieniaUser)
       
    </div>

   
    <div class="row">
    @await Html.PartialAsync("RecenzjeUser", (IEnumerable<Firma.Data.Data.Sklep.Recenzja>)ViewBag.RecenzjeUser)
        
</div>
