@model IEnumerable<Firma.Data.Data.CMS.Aktualnosc>
@{
    if (Model == null)
    {
        return;
    }
    var aktualnosci = ViewBag.Aktualnosci as List<Firma.Data.Data.CMS.Aktualnosc>;
    var tytul = aktualnosci?.FirstOrDefault(x => x.Pozycja == 2)?.Tytul;
}
<section class="container mb-5">
    <h2 class="fw-bold  mb-4">@tytul</h2>
    @await Html.PartialAsync("Popularne", (IEnumerable<Firma.Data.Data.Sklep.Towar>)ViewBag.ModelPopularne)
</section>