@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container mt-5">
    <h1 class="fw-bold mb-4">Polityka Prywatności</h1>
    <p class="text-muted">
        Twoja prywatność jest dla nas bardzo ważna. Poniżej znajdziesz szczegółowe informacje na temat tego, jakie dane zbieramy, w jaki sposób je przetwarzamy i jakie prawa przysługują Ci w związku z ich przetwarzaniem.
    </p>

 
    <div class="accordion" id="privacyAccordion">
      
        @await Html.PartialAsync("PrivacyInfo", (IEnumerable<Firma.Data.Data.CMS.PolitykaPrywatnosci>)ViewBag.ModelPolityka) 
     </div>
     </div>
