
@{
    ViewData["Title"] = "Regulamin";
}

<div class="container mt-5">
    <h1 class="fw-bold mb-4">Regulamin Sklepu </h1>


    <div class="accordion" id="termsAccordion">

        @await Html.PartialAsync("RegulaminInfo", (IEnumerable<Firma.Data.Data.CMS.Regualmin>)ViewBag.ModelRegulamin)

      </div>
    </div>

