@model Firma.Data.Data.CMS.Aktualnosc

@{
    ViewData["Title"] = "Dodaj Nowy Nagłówek";
}

<div class="mt-4">
    <h2 class="mb-4 fw-bold">Dodaj Nowy Nagłówek</h2>
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="mb-3">
                    <label asp-for="LinkTytul" class="form-label"></label>
                    <input asp-for="LinkTytul" class="form-control" placeholder="Wpisz tytuł linku..." />
                    <span asp-validation-for="LinkTytul" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Tytul" class="form-label"></label>
                    <input asp-for="Tytul" class="form-control" placeholder="Wpisz tytuł " />
                    <span asp-validation-for="Tytul" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Tresc" class="form-label"></label>
                    <textarea asp-for="Tresc" class="form-control" rows="5" placeholder="Wpisz treść "></textarea>
                    <span asp-validation-for="Tresc" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Pozycja" class="form-label"></label>
                    <input asp-for="Pozycja" class="form-control" placeholder="Podaj pozycję (np. 1, 2, 3...)" />
                    <span asp-validation-for="Pozycja" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <button type="submit" class="btn btn-primary w-100 me-2">Dodaj Nagłówek</button>
                    <button type="reset" class="btn btn-outline-secondary w-100">Wyczyść Formularz</button>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-link"> <button type="submit" class="btn btn-primary w-100 me-2">Powrót</button></a>
    </div>
</div>
