@model Firma.Data.Data.CMS.Aktualnosc

@{
    ViewData["Title"] = "Usuń Nagłówek";
}

<div class="mt-4">
    <h2 class="mb-4 fw-bold text-danger">Usuwanie Nagłówek</h2>
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <div class="alert alert-warning mb-4 d-flex align-items-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2 fs-4"></i>
                <div>
                    <strong>Czy na pewno chcesz usunąć ten Nagłówek?</strong><br />
                    Tej operacji nie można cofnąć!
                </div>
            </div>
            <dl class="row mb-4">
                <dt class="col-sm-3 text-muted">Tytuł linku</dt>
                <dd class="col-sm-9">@Model.LinkTytul</dd>
                <dt class="col-sm-3 text-muted">Tytuł</dt>
                <dd class="col-sm-9">@Model.Tytul</dd>
                <dt class="col-sm-3 text-muted">Treść</dt>
                <dd class="col-sm-9">@Model.Tresc</dd>
                <dt class="col-sm-3 text-muted">Pozycja</dt>
                <dd class="col-sm-9">@Model.Pozycja</dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdAktualnosc" />
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-danger w-100 me-2">
                        <i class="bi bi-trash me-1"></i> Usuń
                    </button>
                    <a asp-action="Index" class="btn btn-primary w-100">Powrót</a>
                </div>
            </form>
        </div>
    </div>
</div>
