@model IEnumerable< Firma.Data.Data.Sklep.Rodzaj>

@{
    ViewData["Title"] = "Lista rodzajów";
}

<div class="mt-4  ">
    <h2 class="fw-bold mb-2 d-flex justify-content-center">Lista rodzajów</h2>
    <div class="mb-4 d-flex justify-content-center">
       
        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-lg me-1">Dodaj rodzaj</i>
        </a>
    </div>
    <div class="d-flex justify-content-center">
        <div class="table-responsive shadow-sm rounded-3" style="max-width:1500px; width:100%;">
            <table class="table table-hover align-middle mb-0">
                <thead class="table-light">
                    <tr>
                        <th style="width: 50%;">Nazwa</th>
                        <th style="width: 50%;" class="text-end">Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Any())
                    {
                        <tr>
                            <td colspan="2" class="text-center text-muted py-4">
                                Brak rodzajów do wyświetlenia.
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Nazwa</td>
                                <td class="text-end">
                                    <a asp-action="Edit" asp-route-id="@item.IdRodzaju" class="btn btn-sm btn-outline-primary me-1" title="Edytuj">
                                        <i class="bi bi-pencil"> Edytuj</i>
                                    </a>
                                    <!--
                                    <a asp-action="Details" asp-route-id="@item.IdRodzaju" class="btn btn-sm btn-outline-info me-1" title="Szczegóły">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                    -->
                                    <a asp-action="Delete" asp-route-id="@item.IdRodzaju" class="btn btn-sm btn-outline-danger" title="Usuń">
                                        <i class="bi bi-trash">Usuń</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
