<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Voltix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Firma.Intranet.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="content">
        <header>
            <nav class="navbar  border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between w-100">
                        <ul class="navbar-nav d-flex flex-row ms-auto">
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Voltix</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="#" asp-action="Index">Poczta</a>
                            </li>
                        
                            <li class="nav-item">
                                <img src="~/images/user (1).png" alt="User Image"  />
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="sidebar">
            <h2 class=" border-bottom">Voltix</h2>
            <a asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/images/package.png" alt="magazyn-icon" /> Magazyn</a>
            <a asp-area="" asp-controller="Home" asp-action="Statystyki"> <img src="~/images/pie-graph.png" alt="wykres-icon" /> Statystyki</a>
            <a asp-area="" asp-controller="Home" asp-action="DodajProdukt"> <img src="~/images/plus.png" alt="add-icon" /> Dodaj Produkt</a>
            <a asp-area="" asp-controller="Home" asp-action="Zamowienia"> <img src="~/images/delivery-man.png" alt="zamowienia-icon" /> Zamowienia</a>
            <a asp-area="" asp-controller="Strona" asp-action="Index"> <img src="~/images/delivery-man.png" alt="zamowienia-icon" /> Strona</a>
            <a asp-area="" asp-controller="Rodzaj" asp-action="Index"> <img src="~/images/delivery-man.png" alt="zamowienia-icon" /> Rodzaj</a>
            <a asp-area="" asp-controller="Towar" asp-action="Index"> <img src="~/images/delivery-man.png" alt="zamowienia-icon" /> Towar</a>
            <a asp-area="" asp-controller="Aktualnosc" asp-action="Index"> <img src="~/images/delivery-man.png" alt="zamowienia-icon" /> Aktualnosc</a>
            <a asp-area="" asp-controller="Zamowienie" asp-action="Index"> <img src="~/images/delivery-man.png" alt="zamowienia-icon" /> Zamowienia</a>
            <a asp-area="" asp-controller="ZamowienieTowar" asp-action="Index"> <img src="~/images/delivery-man.png" alt="zamowienia-icon" /> Zamowienia Towar</a>
            <a asp-area="" asp-controller="Uzytkownik" asp-action="Index"> <img src="~/images/delivery-man.png" alt="zamowienia-icon" /> Uzytkownik</a>
            
          
            <div class="user-info">
                <p>Zalogowany: User</p>
                <a asp-area="" asp-controller="#" asp-action="Index"><img src="~/images/export.png" alt="logout-icon" /> Wyloguj</a>
                <a asp-area="" asp-controller="#" asp-action="Index"><img src="~/images/settings.png" alt="ustawinia-icon" />Ustawienia</a>
            </div>
        </div>
      
            <main role="main" class="pb-3">
                @RenderBody()
            <footer class="border-top">
                <p>&copy; 2021 - Voltix</p>
            </footer>
            </main>
      
       
      
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
