@{
    ViewData["Title"] = "Magazyn";
}

<div class="mt-4">
    <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 me-3 box-shadow sort rounded-3">
            <div class="sticky-top " style="top: 20px;">
                <h5>Opcje wyszukiwania i sortowania</h5>
                <div class="mb-4">
                    <label for="search" class="form-label">Szukaj produktów</label>
                    <input type="text" id="search" class="form-control" placeholder="Szukaj produktów...">
                </div>
                <div class="mb-4">
                    <label for="sort" class="form-label">Sortuj według</label>
                    <select id="sort" class="form-control">
                        <option>Sortuj według</option>
                        <option>Nazwa</option>
                        <option>Cena</option>
                        <option>Ilość</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="filter" class="form-label">Filtruj według</label>
                    <select id="filter" class="form-control">
                        <option>Filtruj według</option>
                        <option>Kategoria 1</option>
                        <option>Kategoria 2</option>
                        <option>Kategoria 3</option>
                    </select>
                </div>
                <div >
                    <button class="btn btn-secondary  ">Szukaj</button>
                    <button class="btn btn-secondary  ">Czysc</button>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 ">
            <div class="row">
                <div class="col-lg-3  col-md-6 mb-4 rounded-3">
                    <div class="card">
                  
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 "> <img src="~/images/Products/monitor.png" class="card-img-top" alt="Product 1"></div>
                                <div class="col-6 ">
                                    <h5 class="card-title">Produkt 1</h5>
                                    <p class="card-text">Opis produktu 1</p>
                                    <p class="card-text">Ilość: 10</p>
                                    <p class="card-text">Cena: $100</p>
                                </div>
                         
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-3  col-md-6 mb-4 rounded-3">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6"> <img src="~/images/Products/myszka.png" class="card-img-top" alt="Product 1"></div>
                                <div class="col-6">
                                    <h5 class="card-title">Produkt 1</h5>
                                    <p class="card-text">Opis produktu 1</p>
                                    <p class="card-text">Ilość: 10</p>
                                    <p class="card-text">Cena: $100</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 mb-4 rounded-3">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6"> <img src="~/images/Products/telfon.png" class="card-img-top" alt="Product 1"></div>
                                <div class="col-6">
                                    <h5 class="card-title">Produkt 1</h5>
                                    <p class="card-text">Opis produktu 1</p>
                                    <p class="card-text">Ilość: 10</p>
                                    <p class="card-text">Cena: $100</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 mb-4 rounded-3">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6"> <img src="~/images/Products/telefon2.png" class="card-img-top" alt="Product 1"></div>
                                <div class="col-6">
                                    <h5 class="card-title">Produkt 1</h5>
                                    <p class="card-text">Opis produktu 1</p>
                                    <p class="card-text">Ilość: 10</p>
                                    <p class="card-text">Cena: $100</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 mb-4 rounded-3">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6"> <img src="~/images/Products/UTP_kabel.png" class="card-img-top" alt="Product 1"></div>
                                <div class="col-6">
                                    <h5 class="card-title">Produkt 1</h5>
                                    <p class="card-text">Opis produktu 1</p>
                                    <p class="card-text">Ilość: 10</p>
                                    <p class="card-text">Cena: $100</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 mb-4 rounded-3">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6"> <img src="~/images/Products/monitor.png" class="card-img-top" alt="Product 1"></div>
                                <div class="col-6">
                                    <h5 class="card-title">Produkt 1</h5>
                                    <p class="card-text">Opis produktu 1</p>
                                    <p class="card-text">Ilość: 10</p>
                                    <p class="card-text">Cena: $100</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 mb-4 rounded-3">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 "> <img src="~/images/Products/monitor.png" class="card-img-top" alt="Product 1"></div>
                                <div class="col-6 ">
                                    <h5 class="card-title">Produkt 1</h5>
                                    <p class="card-text">Opis produktu 1</p>
                                    <p class="card-text">Ilość: 10</p>
                                    <p class="card-text">Cena: $100</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 mb-4 rounded-3">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 "> <img src="~/images/Products/monitor.png" class="card-img-top" alt="Product 1"></div>
                                <div class="col-6 ">
                                    <h5 class="card-title">Produkt 1</h5>
                                    <p class="card-text">Opis produktu 1</p>
                                    <p class="card-text">Ilość: 10</p>
                                    <p class="card-text">Cena: $100</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 mb-4 rounded-3">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 "> <img src="~/images/Products/monitor.png" class="card-img-top" alt="Product 1"></div>
                                <div class="col-6 ">
                                    <h5 class="card-title">Produkt 1</h5>
                                    <p class="card-text">Opis produktu 1</p>
                                    <p class="card-text">Ilość: 10</p>
                                    <p class="card-text">Cena: $100</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-md-6 mb-4 rounded-3">
                    <div class="card">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 "> <img src="~/images/Products/monitor.png" class="card-img-top" alt="Product 1"></div>
                                <div class="col-6 ">
                                    <h5 class="card-title">Produkt 1</h5>
                                    <p class="card-text">Opis produktu 1</p>
                                    <p class="card-text">Ilość: 10</p>
                                    <p class="card-text">Cena: $100</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

